body {
  font-family: Arial;
  font-size: 12px;
}

.blog-post {
  border: 1px solid grey;
  padding: 15px 10px;
}

.blog-post > header {
  background-color: wheat;
  color: white;
  font-size: 15px;
}

.blog-post > header.magical {
  background-color: pink;
  color: black !important;
}

.blog-post > content {
  background-color: white;
}
